# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/


# Django
db.sqlite3
*.log

# Virtual env
venv/
env/
nightfall-entorno/
.env
.env.*

# OS / editor
.vscode/
.DS_Store

#Windows
Thumbs.db

# Ignorar entorno virtual
nightfall-entorno/
venv/
env/

# Ignorar secretos de seguridad
.env

# Ignorar archivos de sistema y cache
__pycache__/
*.pyc

